@{
    ViewBag.Title = "Administración";
}

<!-- Heading -->
<div class="card mb-4 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">

        <h4 class="mb-2 mb-sm-0 pt-1">
            <a href="@Url.Action("Index", "Tablero")">Tablero</a>
            <span>/</span>
            <span>@ViewBag.Title</span>
        </h4>

    </div>

</div>
<!-- Heading -->
<!--Grid row-->
<div class="row wow fadeIn">

    <!--Web API-->
    <!--Grid column-->
    <div class="col-lg-3 col-md-3 mb-4">

        <div class="row wow fadeIn" id="listadministrar">

        </div>

        <!-- Card -->
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title">
                    Web APIS
                </h4>
                <!-- Text -->
                <p class="card-text">Visualice cada uno de los servicios REST que funcionan con la plataforma.</p>
                <!-- Button -->
                <a href="@Url.Action("Index", "Help")" class="btn btn-primary" target=_blank>Administrar</a>

            </div>

        </div>
        <!-- /Card -->

    </div>
    <!--/Grid column-->
    <!--Usuarios-->
    <!--Grid column-->
    <div class="col-lg-3 col-md-3 mb-4">

        <!-- Card -->
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title">Usuarios</h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- Button -->
                <a href="@Url.Action("Index", "Web_Usuario")" class="btn btn-primary">Administrar</a>

            </div>

        </div>
        <!-- /Card -->

    </div>
    <!--/Grid column-->
    <!--Roles-->
    <!--Grid column-->
    <div class="col-lg-3 col-md-3 mb-4">

        <!-- Card -->
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title">Roles</h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- Button -->
                <a href="@Url.Action("Index", "Web_Rol")" class="btn btn-primary">Administrar</a>

            </div>

        </div>
        <!-- /Card -->

    </div>
    <!--/Grid column-->
    <!--Modulos-->
    <!--Grid column-->
    <div class="col-lg-3 col-md-3 mb-4">

        <!-- Card -->
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title">Módulos</h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- Button -->
                <a href="@Url.Action("Index", "Web_Modulo")" class="btn btn-primary">Administrar</a>

            </div>

        </div>
        <!-- /Card -->

    </div>
    <!--/Grid column-->
    <!--Ver Permisos-->
    <!--Grid column-->
    <div class="col-lg-3 col-md-3 mb-4">

        <!-- Card -->
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title">Permisos</h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- Button -->
                <a href="@Url.Action("Index", "Web_Permiso")" class="btn btn-primary">Administrar</a>

            </div>

        </div>
        <!-- /Card -->

    </div>
    <!--/Grid column-->
    <!--Asignación Permisos-->
    <!--Grid column-->
    <div class="col-lg-3 col-md-3 mb-4">

        <!-- Card -->
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title">Asignación Permisos</h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- Button -->
                <a href="@Url.Action("Index", "Web_RolHasPermiso")" class="btn btn-primary">Administrar</a>

            </div>

        </div>
        <!-- /Card -->

    </div>
    <!--/Grid column-->
    <!--Usuarios Administradores-->
    <!--Grid column-->
    <div class="col-lg-3 col-md-3 mb-4">

        <!-- Card -->
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title">Propietarios</h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- Button -->
                <a href="@Url.Action("Index", "Web_Rol")" class="btn btn-primary">Administrar</a>

            </div>

        </div>
        <!-- /Card -->

    </div>
    <!--/Grid column-->
    <!--Estados-->
    <!--Grid column-->
    <div class="col-lg-3 col-md-3 mb-4">

        <!-- Card -->
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title">Estados</h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- Button -->
                <a href="@Url.Action("Index", "Web_Rol")" class="btn btn-primary">Administrar</a>

            </div>

        </div>
        <!-- /Card -->

    </div>

    <!--/Grid column-->
    <!--Configuración Correo-->
    <!--Grid column-->
    <div class="col-lg-3 col-md-3 mb-4">

        <!-- Card -->
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title">Configuración De Correo</h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- Button -->
                <a href="@Url.Action("Index", "Web_Rol")" class="btn btn-primary">Administrar</a>

            </div>

        </div>
        <!-- /Card -->

    </div>
    <!--/Grid column-->
    <!--Plantillas Correo-->
    <!--Grid column-->
    <div class="col-lg-3 col-md-3 mb-4">

        <!-- Card -->
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title">Plantillas De Correo</h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- Button -->
                <a href="@Url.Action("Index", "Web_Rol")" class="btn btn-primary">Administrar</a>

            </div>

        </div>
        <!-- /Card -->

    </div>
    <!--/Grid column-->
    <!--Web Mensajes-->
    <!--Grid column-->
    <div class="col-lg-3 col-md-3 mb-4">

        <!-- Card -->
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title">Mensajes y Alertas</h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- Button -->
                <a href="@Url.Action("Index", "Web_Mensaje")" class="btn btn-primary">Administrar</a>

            </div>

        </div>
        <!-- /Card -->

    </div>
    <!--/Grid column-->
    <!--Fechas Periodos-->
    <!--Grid column-->
    <div class="col-lg-3 col-md-3 mb-4">

        <!-- Card -->
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title">
                    Periodos Fechas
                </h4>
                <!-- Text -->
                <p class="card-text">Administre las fechas habiles para cada periodo de reporte.</p>
                <!-- Button -->
                <a href="@Url.Action("Index", "Anios_Periodos")" class="btn btn-primary">Administrar</a>

            </div>

        </div>
        <!-- /Card -->

    </div>
    <!--/Grid column-->
    <!--Web Logs-->
    <!--Grid column-->
    <div class="col-lg-3 col-md-3 mb-4">

        <!-- Card -->
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title">
                    Logs
                </h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <!-- Button -->
                <a href="@Url.Action("Index", "Web_Rol")" class="btn btn-primary">Administrar</a>

            </div>

        </div>
        <!-- /Card -->

    </div>
    <!--/Grid column-->

</div>
<!--Grid row-->

@section Scripts {
    @Scripts.Render("~/JSPaginas/administracionjs")

}