@using WebAppCargadorRips_V2.Models;
@using CaptchaMvc.HtmlHelpers;
@model LoginViewModelAdmin
@{
    ViewBag.Title = "Iniciar Sesión Administrador";
}

<!--Vista parcial login-->
<!--Panel 1-->
<div class="tab-pane fade in show active" id="panel1" role="tabpanel">
    <!--Body-->
    <div class="modal-body mb-1">
        <section id="loginForm">
            @using (Html.BeginForm("ViewPartialLoginAdmin", "Sesion", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "formularioLogin", runat = "server" }))

            {
                @Html.AntiForgeryToken()
                <h6>Campos marcados con (*) son obligatorios.</h6>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="md-form form-sm">
                    <i class="fa fa-qrcode prefix"></i>
                    @Html.LabelFor(model => model.Usuario, new { @class = "" })
                    @Html.TextBoxFor(model => model.Usuario, new { @class = "" })
                    @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
                </div>
                <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    @Html.LabelFor(model => model.Password, new { @class = "" })
                    @Html.PasswordFor(model => model.Password, new { @class = "" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <hr />
                <div class="md-form form-sm">
                    <div class="col-sm-12">
                        @Html.MathCaptcha("", "Ingrese el valor de la operación")
                        @ViewBag.ErrorMessage
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <input type="submit" value="Iniciar sesión" class="btn blue accent-4" />
                        </div>
                    </div>
                </div>
            }
        </section>
        <br/>
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="options text-lg-left">
                    <p>
                        @Html.ActionLink("¿Ha olvidado su contraseña?", "RecuperarContraseniaAdmin")
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--Footer-->
    <div class="modal-footer display-footer">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="options text-lg-left">
                    <p>
                       <a href="https://rips.gitbook.io/cargador-rips/" target="_blank">Ayuda</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h3>@ViewBag.json</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <button type="button" class="btn blue lighten-3 waves-effect ml-auto" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>

</div>
<!--/.Panel 1-->
<!--/ Vista parcial-->


