@model IEnumerable<WebAppCargadorRips_V2.EF_Models.Web_Nivel_Permiso>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FK_nivelpermiso_rol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FK_nivelpermiso_modulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nivelpermiso_crear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nivelpermiso_modificar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nivelpermiso_eliminar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FK_nivelpermiso_estado_rips)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_modificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado_RIPS.tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FK_nivelpermiso_rol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FK_nivelpermiso_modulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nivelpermiso_crear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nivelpermiso_modificar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nivelpermiso_eliminar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FK_nivelpermiso_estado_rips)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_modificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado_RIPS.tipo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.nivelpermiso_id }) |
            @Html.ActionLink("Detales", "Details", new { id=item.nivelpermiso_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.nivelpermiso_id })
        </td>
    </tr>
}

</table>
