@model IEnumerable<WebAppCargadorRips_V2.EF_Models.Web_Nivel_Permiso>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid mt-auto">

    <!-- Heading -->
    <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

            <h4 class="mb-2 mb-sm-0 pt-1">
                <a href="@Url.Action("Index", "Administracion")">Administración</a>
                <span>/</span>
                <span>@ViewBag.Title</span>
            </h4>

        </div>

    </div>
    <!-- Heading -->

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header card-header-info">
                    <p>
                        @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "card-title" })
                    </p>
                </div>
                <div class="card-body table-responsive">

                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FK_nivelpermiso_rol)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FK_nivelpermiso_modulo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.nivelpermiso_crear)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.nivelpermiso_modificar)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.nivelpermiso_eliminar)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FK_nivelpermiso_estado_rips)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.fecha_modificacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Estado_RIPS.tipo)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Web_Rol.nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Web_Modulo.nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nivelpermiso_crear)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nivelpermiso_modificar)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nivelpermiso_eliminar)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Web_Rol.nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fecha_modificacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Estado_RIPS.nombre)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.nivelpermiso_id }, new { @class = "btn btn-round btn-success btn-sm" }) |
                                    @Html.ActionLink("Detalles", "Details", new { id = item.nivelpermiso_id }, new { @class = "btn btn-round btn-info btn-sm" }) |
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.nivelpermiso_id }, new { @class = "btn btn-round btn-danger btn-sm" })
                                </td>
                            </tr>
                        }

                    </table>

                </div>
            </div>
        </div>

    </div>

</div>
