@model WebAppCargadorRips_V2.EF_Models.Web_Correo_Sin_Restriccion

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Web_Correo_Sin_Restriccion</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.correo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.correo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.fecha_modificacion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.fecha_modificacion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Estado_RIPS.tipo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Estado_RIPS.tipo)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.correo_sin_restriccion_id }) |
       @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-danger" })
    </p>
</body>
</html>
