@model IEnumerable<WebAppCargadorRips_V2.EF_Models.Directorios>

@{
    ViewBag.Title = "Configuración Directorios";
}

<div class="container-fluid mt-auto">

    <!-- Heading -->
    <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

            <h4 class="mb-2 mb-sm-0 pt-1">
                <a href="@Url.Action("Index", "Administracion")">Administración</a>
                <span>/</span>
                <span>@ViewBag.Title</span>
            </h4>

        </div>

    </div>
    <!-- Heading -->


    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header card-header-info">
                    <p>
                        @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "card-title" })
                    </p>
                </div>
                <div class="card-body table-responsive">

                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.directorio_entrada)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.directorio_salida)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.directorio_error)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.directorio_rechazo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.usuario_directorios)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.contraseña_directorios)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.directorio_entrada)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.directorio_salida)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.directorio_error)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.directorio_rechazo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.usuario_directorios)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.contraseña_directorios)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.directorios_id }, new { @class = "btn btn-round btn-success btn-sm" }) |
                                    @Html.ActionLink("Detalles", "Details", new { id = item.directorios_id }, new { @class = "btn btn-round btn-info btn-sm" })
                                    @*Html.ActionLink("Delete", "Delete", new { id = item.directorios_id })*@
                                </td>
                            </tr>
                        }

                    </table>

                </div>
            </div>
        </div>

    </div>

</div>
