@{
    //vista del POLITICAS DE COOKIES
    ViewBag.Title = "Política de copyrigth";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es-co">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title - Cargador RIPS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/mdbcss")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/fonts/roboto/Roboto-Bold.woff" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" href="@Url.Content("~/Img/logos/logo.ico")" />
</head>
<body>
    <!--Main Navigation-->
    <header>

        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            <div class="container">
                <a class="navbar-brand" href="#"><strong>CARGADOR RIPS</strong></a>
            </div>
        </nav>

    </header>
    <!--Main Navigation-->
    <!--Main Layout-->
    <main>

        <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(@Url.Content("~/img/backgrounds/copyrigth.jpg")); height: 1109px;">
            <div class="full-bg-img">
                <div class="mask rgba-white-light">
                    <div class="container flex-center text-center">
                        <div class="row mt-5">
                            <div class="col-md-12 wow fadeIn mb-3">
                                <h1 class="display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s">POLÍTICA DE <a class="indigo-text font-weight-bold">COPYRIGTH</a></h1>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-12 col-sm-12 mb-3">
                    <p></p>
                    <p style="margin-bottom: 26.25pt; line-height: 15pt; background: white none repeat scroll 0% 0%; text-align: justify;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">El Cargador RIPS ha adoptado la siguiente pol&iacute;tica general con respecto a la infracci&oacute;n de derechos de autor.</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">&nbsp;</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">La direcci&oacute;n del agente designado del cargador RIPS para recibir la notificaci&oacute;n de infracci&oacute;n denunciada ("agente designado") se encuentra al final de esta pol&iacute;tica.</span></p>
                    <p style="margin-bottom: 26.25pt; line-height: 15pt; background: white none repeat scroll 0% 0%; text-align: justify;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">La pol&iacute;tica del Cargador RIPS es:</span></p>
                    <p style="margin-bottom: 26.25pt; line-height: 15pt; background: white none repeat scroll 0% 0%; text-align: justify;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">1) Bloquear el acceso o eliminar cualquier contenido (incluido, entre otros, texto, gr&aacute;ficos y fotos) (colectivamente, "contenido") que considere de buena fe como material protegido por derechos de autor que se ha copiado ilegalmente y distribuido por cualquiera de nuestros registrados y proveedores de contenido, miembros o usuarios.</span></p>
                    <p style="margin-bottom: 26.25pt; line-height: 15pt; background: white none repeat scroll 0% 0%; text-align: justify;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;"> 2) Bloquear y descontinuar el servicio a reincidentes.</span></p>
                    <p style="line-height: 15pt; background: white none repeat scroll 0% 0%; margin: 18.75pt 0cm 26.25pt; text-align: justify;"><strong><span style="font-size: 15.0pt; font-family: 'inherit','serif'; color: #333333;">1. Procedimiento para informar infracciones de derechos de autor</span></strong></p>
                    <p style="margin-bottom: 0.0001pt; line-height: 15pt; background: white none repeat scroll 0% 0%; text-align: justify;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Identificaci&oacute;n de la obra protegida por derechos de autor que usted alega que ha sido infringida a trav&eacute;s del servicio, incluido el n&uacute;mero de registro de derechos de autor de dicho trabajo, si corresponde.</span></p>
                    <p style="line-height: 15pt; background: white none repeat scroll 0% 0%; margin: 18.75pt 0cm 0.0001pt; text-align: justify;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Identificaci&oacute;n del contenido que usted alega que ha infringido el trabajo identificado como propiedad intelectual, que incluye:</span></p>
                    <p style="line-height: 15pt; background: white none repeat scroll 0% 0%; margin: 18.75pt 0cm 0.0001pt; text-align: justify;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;"> (a) Una descripci&oacute;n de c&oacute;mo el material en cuesti&oacute;n utiliza el trabajo protegido de manera que constituye una infracci&oacute;n de derechos de autor.</span></p>
                    <p style="line-height: 15pt; background: white none repeat scroll 0% 0%; margin: 18.75pt 0cm 0.0001pt; text-align: justify;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">(b) Una descripci&oacute;n de d&oacute;nde se encuentra el material en cuesti&oacute;n y lugar dentro del Servicio, con suficiente detalle para que podamos verificar la existencia del material dentro del servicio.</span></p>
                    <p style="line-height: 15pt; background: white none repeat scroll 0% 0%; margin: 18.75pt 0cm 0.0001pt; text-align: justify;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Su informaci&oacute;n de contacto, incluyendo su nombre completo, direcci&oacute;n postal, n&uacute;mero de tel&eacute;fono y direcci&oacute;n de correo electr&oacute;nico.</span></p>
                    <p style="line-height: 15pt; background: white none repeat scroll 0% 0%; margin: 18.75pt 0cm 0.0001pt; text-align: justify;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Una declaraci&oacute;n suya en la que cree de buena fe que el uso en disputa de los materiales con derechos de autor no est&aacute; autorizado por el titular de los derechos de autor, sus agentes o la ley.</span></p>
                    <p style="line-height: 15pt; background: white none repeat scroll 0% 0%; margin: 18.75pt 0cm 0.0001pt; text-align: justify;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Una declaraci&oacute;n suya, hecha bajo pena de perjurio, de que la informaci&oacute;n provista en su aviso es precisa y que usted es el titular de los derechos de autor o est&aacute; autorizado para actuar en nombre del titular de los derechos de autor.</span></p>
                    <p style="line-height: 15pt; background: white none repeat scroll 0% 0%; margin: 18.75pt 0cm 0.0001pt; text-align: justify;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Una firma electr&oacute;nica o f&iacute;sica de la persona autorizada para actuar en nombre del titular de los derechos de autor.</span></p>
                    <p style="line-height: 15pt; background: white none repeat scroll 0% 0%; margin: 18.75pt 0cm 0.0001pt; text-align: justify;"><strong><span style="font-size: 15.0pt; font-family: 'inherit','serif'; color: #333333;">2. Una vez que el Agente designado recibe la notificaci&oacute;n de infracci&oacute;n correcta</span></strong></p>
                    <p style="line-height: 15pt; background: white none repeat scroll 0% 0%; margin: 18.75pt 0cm 0.0001pt; text-align: justify;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Es la pol&iacute;tica del Cargador RIPS:</span></p>
                    <ol style="text-align: justify;">
                        <li><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Para eliminar o deshabilitar el acceso al contenido supuestamente infractor.</span></li>
                        <li><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Para notificar al usuario cuyo contenido ha sido eliminado o deshabilitado.</span></li>
                        <li><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Que los infractores reincidentes eliminar&aacute;n el contenido presuntamente infractor del servicio y que el Cargador RIPS dar&aacute; por terminado el acceso de dicho usuario al servicio, hasta que no cambie contenido supuestamente infractor.</span></li>
                    </ol>
                    <p style="text-align: justify;"><strong><span style="font-size: 15.0pt; font-family: 'inherit','serif'; color: #333333;">4. Procedimiento para proporcionar una contra notificaci&oacute;n al agente designado.</span></strong></p>
                    <p style="text-align: justify;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Si el usuario notificado cree que el contenido que se elimin&oacute; o cuyo acceso se deshabilit&oacute; no infringe o el usuario cree que tiene derecho a publicar y usar dicho contenido del propietario de los derechos de autor, el agente propietario de los derechos de autor, o de conformidad con la ley (incluido como uso leg&iacute;timo), el usuario notificado debe enviar un contra aviso que contenga la siguiente informaci&oacute;n al Agente Designado que se detalla a continuaci&oacute;n:</span></p>
                    <ol style="text-align: justify;">
                        <li><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Identificaci&oacute;n del contenido que se ha eliminado o inhabilitado, incluida una descripci&oacute;n de d&oacute;nde apareci&oacute; el material en cuesti&oacute;n en el servicio del cargador RIPS antes de que se eliminara o inhabilitara.</span></li>
                        <li><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Una declaraci&oacute;n suya, hecha bajo pena de perjurio, de que usted cree de buena fe que el contenido fue eliminado o bloqueado como resultado de un error o una identificaci&oacute;n incorrecta del contenido en cuesti&oacute;n.</span></li>
                        <li><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Su informaci&oacute;n de contacto, incluyendo nombre completo, direcci&oacute;n postal, n&uacute;mero de tel&eacute;fono y direcci&oacute;n de correo electr&oacute;nico;</span></li>
                        <li><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Una declaraci&oacute;n suya de que acepta la jurisdicci&oacute;n del Tribunal colombiano para el distrito capital en el que se encuentra su domicilio o, si su direcci&oacute;n est&aacute; fuera de Colombia. Para el distrito capital en el que se encuentra el cargador RIPS, y que aceptar&aacute; servicio de proceso de la persona que proporcion&oacute; la notificaci&oacute;n de la supuesta infracci&oacute;n.</span></li>
                        <li><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Su firma electr&oacute;nica o f&iacute;sica.</span></li>
                    </ol>
                    <p style="text-align: justify;"><span style="font-size: 10.5pt; line-height: 115%; font-family: 'Arial','sans-serif'; color: #333333;">Si el Agente designado recibe una contra notificaci&oacute;n, el Cargador RIPS puede enviar una copia de la contra notificaci&oacute;n a la parte reclamante original informando a esa parte que el Cargador RIPS puede reemplazar el contenido eliminado o dejar de inhabilitarlo en 10 d&iacute;as h&aacute;biles.</span><span style="font-size: 10.5pt; line-height: 115%; font-family: 'Arial','sans-serif'; color: #333333;">&nbsp;</span><span style="font-size: 10.5pt; line-height: 115%; font-family: 'Arial','sans-serif'; color: #333333;">A menos que el propietario de los derechos de autor presente una acci&oacute;n buscando una orden judicial contra el usuario, el contenido eliminado podr&aacute; ser reemplazado, o el acceso restaurado, en 10 a 14 d&iacute;as h&aacute;biles o m&aacute;s despu&eacute;s de recibir el contra aviso, a criterio exclusivo del Cargador RIPS.</span></p>
                
                </div><!--/Grid column-->

            </div><!--/Grid row-->

        </div>

    </main>

    <!--Footer-->
    <footer class="page-footer text-center font-small mt-0 wow fadeIn stylish-color-dark">

        <!--Escudo action-->
        <div class="pt-4">
            <img src="@Url.Content("~/Img/logos/alcaldia_logo.png")" class="img-fluid" alt="" width="200" height="200" />

        </div>
        <!--/.Call to action-->

        <hr class="my-4">

        <!-- Diecciones icons -->
        <div class="pb-4">
            SECRETARÍA DISTRITAL DE SALUD | Subsecretaria de Gestión y Planeación Sectorial | Dirección de Planeación Sectorial
        </div>
        <!-- Social icons -->
        <!--Copyright-->
        <div class="footer-copyright py-3">
            <a href="#">&copy; @DateTime.Now.Year - Bogotá D.C. | </a>
            <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com |</a>
            <a href="http://www.bootstrapzen.com" target="_blank"> BootstrapZen.com |</a>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->
    <!-- SCRIPTS -->
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jsmdb")
        @Scripts.Render("~/bundles/loginval")

    }

</body>

</html>
