@{
    //vista del POLITICAS DE COOKIES
    ViewBag.Title = "Políticas de Cookies";
    Layout = null;

}

<!DOCTYPE html>
<html lang="es-co">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title - Cargador RIPS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/mdbcss")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/fonts/roboto/Roboto-Bold.woff" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" href="@Url.Content("~/Img/logos/logo.ico")" />
</head>
<body>
    <!--Main Navigation-->
    <header>

        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            <div class="container">
                <a class="navbar-brand" href="#"><strong>CARGADOR RIPS</strong></a>
            </div>
        </nav>

    </header>
    <!--Main Navigation-->
    <!--Main Layout-->
    <main>

        <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(@Url.Content("~/img/backgrounds/cookies.jpeg")); height: 109px;">
            <div class="full-bg-img">
                <div class="mask rgba-white-light">
                    <div class="container flex-center text-center">
                        <div class="row mt-5">
                            <dv class="col-md-12 wow fadeIn mb-3 col-sm-12">
                                <h1 class="display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s">POLÍTICA DE <a class="indigo-text font-weight-bold">COOKIES</a></h1>
                            </dv>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-12 col-sm-12 mb-3">
                    <p></p>
                    <p style="margin-bottom: 26.25pt; line-height: 15.0pt; background: white;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Al igual que la mayor&iacute;a de otros sitios web, el cargador RIPS ("el cargador RIPS ", "nosotros&rdquo;) utiliza cookies para proporcionar una experiencia de usuario sin interrupciones y ayudarnos a comprender c&oacute;mo las personas usan nuestro sitio web y dem&aacute;s aplicaciones para que podamos seguir mejorando nuestra plataforma y Servicio.</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">&nbsp;</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">En un esp&iacute;ritu de transparencia, hemos creado esta pol&iacute;tica de cookies, para proporcionarle informaci&oacute;n clara y expl&iacute;cita sobre las cookies que usamos y sus elecciones cuando se trata de estas tecnolog&iacute;as.</span></p>
                    <p style="line-height: 15.0pt; background: white; margin: 18.75pt 0cm 26.25pt 0cm;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Esta pol&iacute;tica de cookies se aplica a nuestro sitio web y dem&aacute;s aplicaciones (colectivamente, el "Sitio web").</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">&nbsp;</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Al acceder y continuar usando el sitio web en cualquier dispositivo, usted acepta nuestro uso de cookies de acuerdo con esta pol&iacute;tica de cookies.</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">&nbsp;</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Si no acepta nuestro uso de cookies de esta manera, debe establecer la configuraci&oacute;n de su navegador en consecuencia.</span></p>
                    <p><strong><span style="font-size: 15.0pt; font-family: 'inherit','serif'; color: #333333;">1. &iquest;Qu&eacute; son las cookies y para qu&eacute; se utilizan?</span></strong></p>
                    <p style="margin-bottom: .0001pt; line-height: 15.0pt; background: white;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Una cookie es una peque&ntilde;a cadena de informaci&oacute;n que el sitio web que visita se transfiere a su computadora con fines de identificaci&oacute;n.</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">&nbsp;</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Las cookies se pueden utilizar para seguir su actividad en todo el sitio web y esa informaci&oacute;n nos ayuda a comprender sus preferencias y mejorar su experiencia.</span></p>
                    <p style="line-height: 15.0pt; background: white; margin: 18.75pt 0cm .0001pt 0cm;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Las cookies del cargador RIPS no recopilan informaci&oacute;n personal de usted, y no combinamos la informaci&oacute;n general recopilada a trav&eacute;s de las cookies con otra informaci&oacute;n personal que pueda proporcionar para identificarlo.</span></p>
                    <p><strong><span style="font-size: 15.0pt; font-family: 'inherit','serif'; color: #333333;">2. &iquest;Qu&eacute; tipos de cookies se usan?</span></strong></p>
                    <p style="margin-bottom: .0001pt; line-height: 15.0pt; background: white;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">En el sitio web, se permiten tanto las cookies propias como las de terceros.</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">&nbsp;</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Las cookies de origen son cookies establecidas por el cargador RIPS.</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">&nbsp;</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Las cookies de terceros son establecidas por un dominio distinto al nuestro.</span></p>
                    <p style="line-height: 15.0pt; background: white; margin: 18.75pt 0cm .0001pt 0cm;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Las cookies de del cargador RIPS pueden ser cookies de sesi&oacute;n y persistentes.</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">&nbsp;</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Las cookies de sesi&oacute;n son cookies temporales que permanecen en su dispositivo solo hasta que abandona el sitio web.</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">&nbsp;</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Una cookie persistente permanece en su dispositivo durante el per&iacute;odo especificado en la cookie o hasta que la elimine manualmente.</span></p>
                    <p style="line-height: 15.0pt; background: white; margin: 18.75pt 0cm .0001pt 0cm;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">En funci&oacute;n de su funci&oacute;n, nuestro sitio web utiliza las siguientes categor&iacute;as de cookies:</span></p>
                    <ul>
                        <li><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Cookies estrictamente necesarias (seguridad): estas cookies son esenciales para permitirle moverse por el sitio web y utilizar sus funciones, como el acceso a &aacute;reas seguras del sitio web: s</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">in estas cookies, los servicios que solicite no se pueden optimizar.</span></li>
                        <li><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Cookies de rendimiento (an&aacute;lisis, pruebas A / B): estas cookies nos permiten reconocer y contar el n&uacute;mero de visitantes y ver c&oacute;mo los visitantes se mueven por el sitio web cuando lo utilizan:</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;"> esto nos ayuda a mejorar la forma en que funciona el sitio web, por ejemplo, asegur&aacute;ndonos de que los usuarios encuentren lo que necesitan con facilidad.</span></li>
                    </ul>
                    <ul>
                        <li><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Funcionalidad: estas cookies permiten que el sitio web recuerde las elecciones que realiza (como su nombre de usuario, idioma o la regi&oacute;n en la que se encuentra) para proporcionar una experiencia en l&iacute;nea m&aacute;s personalizada: e</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">stas cookies tambi&eacute;n se pueden utilizar para recordar los cambios que ha realizado en el tama&ntilde;o del texto, las fuentes y otras partes de las p&aacute;ginas web que puede personalizar. Tambi&eacute;n se pueden usar para proporcionar los servicios que ha solicitado, como ver un video o hacer preguntas y comentar al respecto.</span></li>
                    </ul>
                    <p><strong><span style="font-size: 15.0pt; font-family: 'inherit','serif'; color: #333333;">3. &iquest;C&oacute;mo puedo controlar o eliminar cookies?</span></strong></p>
                    <p style="margin-bottom: .0001pt; line-height: 15.0pt; background: white;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Puede desactivar todas las cookies, si prefiere no recibirlas.</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">&nbsp;</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Tambi&eacute;n puede hacer que su computadora le advierta siempre que utilicen cookies.</span></p>
                    <p style="line-height: 15.0pt; background: white; margin: 18.75pt 0cm .0001pt 0cm;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">La mayor&iacute;a de los navegadores de Internet est&aacute;n configurados inicialmente para aceptar cookies autom&aacute;ticamente.</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">&nbsp;</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Puede cambiar la configuraci&oacute;n para bloquear las cookies o para avisarle cuando se env&iacute;en las cookies a su dispositivo.</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">&nbsp;</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Hay varias maneras de administrar las cookies.</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">&nbsp;</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Consulte la documentaci&oacute;n proporcionada con su navegador web (por ejemplo, Firefox, Safari, Chrome o Internet Explorer) para obtener informaci&oacute;n sobre c&oacute;mo habilitar las cookies.</span></p>
                    <p style="line-height: 15.0pt; background: white; margin: 18.75pt 0cm .0001pt 0cm;"><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Tambi&eacute;n hay productos de software disponibles que pueden administrar las cookies por usted.</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">&nbsp;</span><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">Si utiliza diferentes dispositivos para ver y acceder al sitio web (por ejemplo, su computadora, tel&eacute;fono inteligente, tableta, etc.) deber&aacute; asegurarse de que cada navegador de cada dispositivo se ajuste a sus preferencias de cookies.</span></p>
                    <p><span style="font-size: 10.5pt; line-height: 115%; font-family: 'Arial','sans-serif'; color: #333333;">Tenga en cuenta, sin embargo, que cuando elige rechazar las cookies, esta opci&oacute;n puede limitar la funcionalidad del sitio web y puede perder acceso a algunas de sus funciones.</span></p>

                </div><!--/Grid column-->

            </div><!--/Grid row-->

        </div>

    </main>

    <!--Footer-->
    <footer class="page-footer text-center font-small mt-0 wow fadeIn stylish-color-dark">

        <!--Escudo action-->
        <div class="pt-4">
            <img src="@Url.Content("~/Img/logos/alcaldia_logo.png")" class="img-fluid" alt="" width="200" height="200"/>

        </div>
        <!--/.Call to action-->

        <hr class="my-4">

        <!-- Diecciones icons -->
        <div class="pb-4">
            SECRETARÍA DISTRITAL DE SALUD | Subsecretaria de Gestión y Planeación Sectorial | Dirección de Planeación Sectorial
        </div>
        <!-- Social icons -->
        <!--Copyright-->
        <div class="footer-copyright py-3">
            <a href="#">&copy; @DateTime.Now.Year - Bogotá D.C. | </a>
            <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com |</a>
            <a href="http://www.bootstrapzen.com" target="_blank"> BootstrapZen.com |</a>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->
    <!-- SCRIPTS -->
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jsmdb")
        @Scripts.Render("~/bundles/loginval")

    }

</body>

</html>