@model WebAppCargadorRips_V2.EF_Models.Web_Documento

@{
    ViewBag.Title = "Detalles Documento";
}

<div class="container-fluid mt-auto">

    <!-- Heading -->
    <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

            <h4 class="mb-2 mb-sm-0 pt-1">


                <span>@ViewBag.Title</span>
            </h4>

        </div>

    </div>
    <!-- Heading -->

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.tipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tipo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ruta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ruta)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fecha_modificacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha_modificacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Estado_RIPS.tipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Estado_RIPS.tipo)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.documento_id }, new { @class = "btn btn-success" }) |
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-danger" })
    </p>

    </div>
