@model WebAppCargadorRips_V2.EF_Models.Plantilla_Respuesta_PDF

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Plantilla_Respuesta_PDF</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cuerpo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuerpo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_modificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_modificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_RIPS.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_RIPS.tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.plantilla_respuesta_pdf_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
