@model WebAppCargadorRips_V2.EF_Models.Anios_Periodos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Anios_Periodos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_minima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_minima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_maxima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_maxima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_modificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_modificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_RIPS.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_RIPS.tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.anios_periodos_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
