@model WebAppCargadorRips_V2.Models.CambiarContraseniaViewModel

@{
    ViewBag.Title = "Cambio de contraseña";
}

<!-- Heading -->
<div class="card mb-4 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">

        <h4 class="mb-2 mb-sm-0 pt-1">
            <a href="@Url.Action("Index", "Tablero")">Tablero</a>
            <span>/</span>
            <span>@ViewBag.Title</span>
        </h4>

    </div>

</div>
<!-- Heading -->

<div class="row">

    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header card-header-info">
                <blockquote>Hola <span id="prestador"></span> !! desde aquí puede actualizar su contraseña.</blockquote>
            </div>
            <div class="card-body">


                @using (Html.BeginForm("CambiarContrasenia", "Web_Usuario", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "", runat = "server" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.usuario_id, new { Value = @ViewBag.usuario_id })

                    <div class="form-horizontal">
                        <hr />

                        <div class="form-group">
                            @Html.LabelFor(model => model.contrasenia, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.contrasenia, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.contrasenia, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.contraseniaconfirm, htmlAttributes: new { @class = "control-label col-md-6 col-sm-12" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.contraseniaconfirm, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.contraseniaconfirm, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Guardar" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                }



            </div>
        </div>
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}