@model WebAppCargadorRips_V2.Models.ActualizarDatosViewModel

@{
    ViewBag.Title = "Perfil de usuario";
}

<!-- Heading -->
<div class="card mb-4 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">

        <h4 class="mb-2 mb-sm-0 pt-1">
            <span>@ViewBag.Title</span>
        </h4>

    </div>

</div>

<div class="col s12">
    <blockquote>Hola <span id="nombreUser"></span> !! desde aquí puede actualizar su información.</blockquote>
</div>
@using (Html.BeginForm("Perfil", "Web_Usuario", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "formularioPerfil", runat = "server" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.usuario_id)
        @Html.HiddenFor(model => model.id_estado)
        @Html.HiddenFor(model => model.id_rol)



        <div class="form-group">
            @Html.LabelFor(model => model.codigo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.codigo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.codigo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombres, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombres, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombres, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.apellidos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.apellidos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.telefono, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.razon_social, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.razon_social, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.razon_social, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="imguserperfil">Imagen</label>
            <div class="col-md-10">
                <img id="imguserperfil" class="rounded" alt="Cinque Terre" height="150">
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<!-- Modal que tiene el formulario de la imagen -->
<div class="row d-none">
    <div id="dialog" class="tingle_addon_window">
        <form id="formuserimage" enctype="multipart/form-data" method="post">
            @Html.AntiForgeryToken()
            <label for="avatar">adjunta una imagen ".JPEG"</label>
            <input type="file" id="avatar" name="avatar" class="dropify" data-allowed-file-extensions="jpg jpeg">
            @Html.HiddenFor(model => model.usuario_id)
            @Html.HiddenFor(model => model.codigo)
        </form>
    </div>
</div>


@section Scripts {

    @Scripts.Render("~/bundles/dropifyjs")
    @Scripts.Render("~/bundles/perfilusuariojs")

}
