<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    <div class="d-flex" id="wrapper">

        @Html.Partial("_Sidebar")
        <!-- Page Content -->
        <div id="page-content-wrapper">
        
            <section class="content-header">
                @Html.Partial("_Header")
            </section>
            <section class="container-fluid">
                @RenderBody()
            </section>
            <section class="content">
                @Html.Partial("_Footer")
            </section>

        </div><!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>
</html>
