<!-- DESARROLLADO POR ALEX CIFUENTES SANCHEZ-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- CSS Files -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Stile/materialcss")
    @Styles.Render("~/Stile/tinglecss")
    @Styles.Render("~/Stile/izitoastcss")
    @Styles.Render("~/Stile/dropifycss")
    @Scripts.Render("~/bundles/modernizr")

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

</head>
<body class="grey lighten-3">

    <!--Wrapper-->
    <div class="wrapper ">

        <!-- sidebar -->
        @Html.Partial("_Sidebar")
        <!-- /sidebar -->
        <!--Main Panel-->
        <div class="main-panel">
            <!-- Navbar -->
            @Html.Partial("_Navbar")
            <!-- /Navbar -->
            <!--Main layout-->
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <!--Main layout-->
            <!--Footer-->
            @Html.Partial("_Footer")
            <!--Footer-->

        </div>
        <!--./Main Panel-->

    </div>
    <!--./Wrapper-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/materialjs")
    @Scripts.Render("~/bundles/tinglejs")
    @Scripts.Render("~/bundles/izitoastjs")
    @Scripts.Render("~/JSPaginas/layoutjs")
    <!--./cdn sweetalert2-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script>
        $(document).ready(function () {
            token =@Html.Raw(@HttpContext.Current.User.Identity.Name);
            //
            getAllME(token);
        });
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
