<!DOCTYPE html>
<html lang="es-co">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title - Cargador RIPS</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/mdbcss")
    @Styles.Render("~/Stile/izitoastcss")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
        html,
        body,
        header,
        .view {
            height: 100%;
        }

        h1,
        .a {
            font-family: sans-serif !important;
        }

        @@media (max-width: 740px) {
            html,
            body,
            header,
            .view {
                height: 1000px;
            }
        }

        @@media (min-width: 800px) and (max-width: 850px) {
            html,
            body,
            header,
            .view {
                height: 650px;
            }
        }

        @@media (min-width: 800px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: #1C2331 !important;
            }
        }
    </style>
    <!-- Font Awesome -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    

    <!-- Seccion del <noscript>  -->
    <noscript>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-image">
                    <div class="text-center d-flex align-items-center py-5 px-4 my-5">
                        <div>
                            <h1 class="card-title pt-3 mb-5 font-bold"><strong>Tu navegador no soporta JAVASCRIPT!!</strong></h1>
                            <p class="mx-5 mb-5">
                                La aplicación requiere JAVASCRIPT para funcionar de manera correcta.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </noscript>
    <!--fin  Seccion del <noscript>  -->
    <link rel="icon" href="@Url.Content("~/Img/logos/logo.ico")" />
</head>

<body>

    <div class="full-bg-img">
        <div class="mask rgba-blue-slight"></div>
    </div>

    <!-- Full Page Intro -->
    <div class="view full-page-intro" style="background-image: url(@Url.Content("~/Img/backgrounds/bg.jpg")); background-repeat: no-repeat; background-size: cover;">

        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="container">

                <section class="login-form">
                    <!--<div class="col-md-12 col-sm-12 wow fadeIn mb-3 text-center">
                        <h1 class="text-uppercase mb-3 mt-1 font-weight-bold wow fadeIn" data-wow-delay="0.4s"> <a class="font-weight-bold" style="color:#194569;">CARGADOR</a></h1>
                    </div>-->
                    <div class="text-center">
                        <img src="@Url.Content("~/Img/logos/logo.png")" class="rounded mx-auto d-block" alt="CARGADOR RIPS" height="400" />
                    </div>
                    <br />

                    <!--Call to action button-->
                    <div class="text-center py-3">
                        <ul class="list-unstyled list-inline mb-0">
                            <li class="list-inline-item">
                                <button type="button" class="btn blue accent-4 btn-lg btn-block btn-rounded" data-toggle="modal" data-target="#modalLRForm">Iniciar Sesión</button>
                            </li>
                        </ul>
                    </div>
                    <!--/.Call to action button-->

                </section>

                <div>
                    @RenderBody()
                </div>


            </div>
            <!-- Content -->

        </div>
        <!-- Mask & flexbox options-->

    </div>
    <!-- Full Page Intro -->
    <!--Footer-->
    <footer class="page-footer text-center font-small mt-0 wow fadeIn stylish-color-dark">

        <!--Escudo action-->
        <div class="pt-4">
            <a href="@Url.Action("ViewPartialLoginAdmin", "Sesion")">
                <img src="@Url.Content("~/Img/logos/alcaldia_logo.png")" class="img-fluid" alt="" width="500" height="50" />
            </a>
        </div>
        <!--/.Call to action-->

        <hr class="my-4">

        <!-- Diecciones icons -->
        <div class="pb-4">
            SECRETARÍA DISTRITAL DE SALUD | Subsecretaria de Gestión y Planeación Sectorial | Dirección de Planeación Sectorial
        </div>
        <!-- Social icons -->
        <!--Copyright-->
        <div class="footer-copyright py-3">
            <a href="#">&copy; @DateTime.Now.Year - Bogotá D.C. | Gracias:</a>
            <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com |</a>
            <a href="http://www.bootstrapzen.com" target="_blank"> BootstrapZen.com |</a>
            <div>Icons made by <a href="https://www.flaticon.com/authors/wanicon" title="wanicon">wanicon</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->
    <!-- SCRIPTS -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
    @Scripts.Render("~/bundles/izitoastjs")
    @Scripts.Render("~/bundles/jsmdb")
    @Scripts.Render("~/bundles/loginval")
    @RenderSection("scripts", required: true)
</body>

</html>

