<!--
//26-03-2019 Alex Cifuentes Sánchez
 -->
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a href="@Url.Action("Index", "Tablero")"><img src="@Url.Content("~/Img/logos/logo.png")" alt="RIPS" width="" height="100"></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="@Url.Content("~/Img/tablero/txt.png")" class="rounded" alt="Cinque Terre" width="40" height="40">
                        <p class="d-lg-none d-md-block">
                            Cuenta
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right info-color" data-color="azure" aria-labelledby="navbarDropdownProfile">
                        <a class="dropdown-item" href="#" id="nombreuserspan"></a>
                        <a class="dropdown-item" href="#" id="emailspan"></a>
                        <a class="dropdown-item" href="@Url.Action("Perfil", "Web_Usuario", new { id = @HttpContext.Current.User.Identity.Name.ToString() })">Perfíl</a>
                        <a class="dropdown-item" href="@Url.Action("CambiarContrasenia", "Web_Usuario",new { id = @HttpContext.Current.User.Identity.Name.ToString() })">Cambiar contraseña</a>
                        <div class="dropdown-divider"></div>
                        @using (Html.BeginForm("Logout", "Sesion", FormMethod.Post))
                        {
                            <a class="dropdown-item" href="javascript:;" onclick="document.forms[0].submit();">Salir</a>
                        }
                        </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="divclaims" style="display:none;">

</div>

