    <!-- Sidebar -->
<div class="sidebar" data-color="azure" data-background-color="white" data-image="@Url.Content("~/Img/logos/logo.png")">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
        <a href="http://www.saludcapital.gov.co/DPYS/Paginas/RegistroIndividualdePrestaciondeServicios.aspx" target="_blank" class="simple-text logo-normal">
            <img src="@Url.Content("~/Img/logos/logo.png")" alt="RIPS">
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item " id="madmin">
                <a class="nav-link" href="@Url.Action("Index", "Administracion")">
                    <i class="material-icons">dashboard</i>
                    <p>Administración</p>
                </a>
            </li>
            <li class="nav-item " id="mlistado">
                <a class="nav-link" href="@Url.Action("Index", "Home")">
                    <i class="material-icons">person</i>
                    <p>Listado Archivos RIPS</p>
                </a>
            </li>
            <li class="nav-item " id="mcarga">
                <a class="nav-link" href="@Url.Action("Index", "Cargador")">
                    <i class="material-icons">content_paste</i>
                    <p>Cargar Archvivos RIPS</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./typography.html">
                    <i class="material-icons">library_books</i>
                    <p>Descargar Validador RIPS</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./icons.html">
                    <i class="material-icons">bubble_chart</i>
                    <p>Indicadores</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./notifications.html">
                    <i class="material-icons">notifications</i>
                    <p>Ayuda</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- /#sidebar -->
<div id="divclaims" style="display:none;">
</div>
