@model IEnumerable<WebAppCargadorRips_V2.EF_Models.Web_Mensaje>

@{
    ViewBag.Title = "Mensajes WEB";
}

<div class="container-fluid mt-auto">

    <!-- Heading -->
    <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

            <h4 class="mb-2 mb-sm-0 pt-1">
                <a href="@Url.Action("Index", "Administracion")">Administración</a>
                <span>/</span>
                <span>@ViewBag.Title</span>
            </h4>

        </div>

    </div>
    <!-- Heading -->


    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header card-header-info">
                    <p>
                        @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "card-title" })
                    </p>
                </div>
                <div class="card-body table-responsive">


                    <table class="table-responsive">
                        <!-- Table head -->
                        <thead class="blue-grey lighten-4">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.codigo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tipo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.cuerpo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.fecha_modificacion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Estado_RIPS.tipo)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.codigo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tipo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cuerpo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fecha_modificacion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Estado_RIPS.tipo)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Editar", "Edit", new { id = item.mensaje_id }, new { @class = "btn btn-round btn-success btn-sm" }) |
                                        @Html.ActionLink("Detalles", "Details", new { id = item.mensaje_id }, new { @class = "btn btn-round btn-info btn-sm" })
                                        @*Html.ActionLink("Delete", "Delete", new { id = item.mensaje_id })*@
                                    </td>
                                </tr>
                            }

                    </table>

                </div>
            </div>
        </div>

    </div>

</div>
