@model WebAppCargadorRips_V2.EF_Models.VW_Radicacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VW_Radicacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.servicio_validacion_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicio_validacion_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_validacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_validacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_radicado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_radicado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_carga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_carga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.afiliacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.afiliacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.condicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.condicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.entidad_reporta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.entidad_reporta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prestador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prestador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.administradora_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.administradora_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.periodo_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.periodo_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.periodo_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.periodo_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.us)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.us)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.af)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.af)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.au)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.au)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ah)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ah)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.an)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.an)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.am)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.am)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.validacion_fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.validacion_fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.radicacion_fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.radicacion_fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carga_fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carga_fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario_validacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario_validacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.radicacion_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.radicacion_usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
