@model IEnumerable<WebAppCargadorRips_V2.EF_Models.VW_Radicacion>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid mt-auto">

    <!-- Heading -->
    <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">

            <h4 class="mb-2 mb-sm-0 pt-1">
                <a href="@Url.Action("Index", "Administracion")">Administración</a>
                <span>/</span>
                <span>@ViewBag.Title</span>
            </h4>

        </div>

    </div>
    <!-- Heading -->


    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header card-header-info">
                    <p>
                        @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "card-title" })
                    </p>
                </div>
                <div class="card-body table-responsive">


                    <table class="table-responsive">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.servicio_validacion_id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.estado_validacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.estado_radicado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.estado_carga)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.categoria)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.afiliacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.condicion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.entidad_reporta)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.prestador)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.administradora_id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.periodo_inicio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.periodo_fin)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.us)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.af)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ac)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ap)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.au)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ah)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.an)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.am)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.at)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.validacion_fecha)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.radicacion_fecha)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.carga_fecha)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.usuario_validacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.radicacion_usuario)
                            </th>
                            <th>Acciones</th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.servicio_validacion_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.estado_validacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.estado_radicado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.estado_carga)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.categoria)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.afiliacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.condicion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.entidad_reporta)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.prestador)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.administradora_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.periodo_inicio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.periodo_fin)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.us)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.af)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ac)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ap)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.au)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ah)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.an)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.am)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.at)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.validacion_fecha)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.radicacion_fecha)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.carga_fecha)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.usuario_validacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.radicacion_usuario)
                                </td>
                                <td>
                                    @*Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                                </td>
                            </tr>
                        }

                    </table>

                </div>
            </div>
        </div>

    </div>

</div>