@model WebAppCargadorRips_V2.EF_Models.Web_Rol

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Web_Rol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_modificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_modificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_RIPS.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_RIPS.tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.rol_id }) |
   @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-danger" })
</p>
