@model IEnumerable<WebAppCargadorRips_V2.EF_Models.Web_Rol>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_modificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado_RIPS.tipo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_modificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado_RIPS.tipo)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.rol_id }) |
                    @Html.ActionLink("Detales", "Details", new { id = item.rol_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.rol_id })
                </td>
            </tr>
        }

    </table>
   </div>
